* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button { 
  width: 8rem;
  height: 4rem;
  font-size: .9rem;
  padding:1rem;
  border-radius: .5rem;
  margin:1rem;
  border:1px solid silver;
}

.mainContainer {
  display: flex;
}
